body {
  background-image: linear-gradient(#e95793, #da0c81, #da0c81, #610c9f);
  main {
    nav {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-around;
      padding: 30px;
      background-color: rgba(245, 245, 245, 0.836);
      border-radius: 50px;
      position: sticky;
      top: 0;

      .switch {
        width: 150px;
        height: 50px;
        border-radius: 25px;
        background-color: blue;
        color: white;
        font-size: 20px;
      }
      h1 {
        font-family: wolf;
      }
      .project {
        width: 500px;
        display: flex;
        justify-content: space-evenly;
      }
    }
    header {
      .project-page {
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}
.darkBody {
  background-image: linear-gradient(#2c3e50, #000000);
  .darknav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: rgba(76, 18, 95, 0.893);
    border-radius: 50px;
    position: sticky;
    top: 0;
  }
  .darkcard {
    background-color: rgb(177, 21, 21);
  }
}
